<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingguo.avarua.casual.account.service.repository.dao.RolePermissionRelationDao">
    <resultMap id="RelationResultMap" type="com.mingguo.avarua.casual.account.model.RolePermissionRelation">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
        <result column="create_time" property="createTime"/>
        <result column="_timestamp" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <sql id="Relation_Column_List" >
        id, role_id, permission_id, create_time, _timestamp
    </sql>

    <!--addRolePermissionRelation-->
    <insert id="addRolePermissionRelation" parameterType="com.mingguo.avarua.casual.account.model.RolePermissionRelation">
        INSERT INTO role_permission_relation (role_id, permission_id, create_time)
        VALUES (#{roleId}, #{permissionId}, now())
        <selectKey resultType="int" keyProperty="id">
            SELECT_LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--updateRolePermissionRelation-->
    <update id="updateRolePermissionRelation" parameterType="com.mingguo.avarua.casual.account.model.RolePermissionRelation">
        UPDATE role_permission_relation
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="permissionId != null">
                permission_id = #{permissionId}
            </if>
        </set>
        WHERE id = #{id} AND is_delete = 0
    </update>

</mapper>